*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, hsl(341, 65%, 48%), hsl(285, 40%, 38%));
    color: white;
}

.container{
    width: 60%;
    height: 600px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 50px;
}
h1{
    padding: 10px;
    font-size: 50px;
    margin: 50px auto;
}
h3{
    font-size: 25px;
    padding: 10px;
}



button{
    width: 100px;
    height: 40px;
    margin-top: 50px;
    background-image: linear-gradient(270deg, hsl(340, 65%, 62%), hsl(22, 86%, 78%));
    cursor: pointer;
    color: white;
}

span{
    font-size: 20px;
}

#play{
    width: 100px;
}

.red{
    color: rgb(255, 27, 27);
    
}

.green{
    color: rgb(83, 255, 83);
}
@media screen  and (max-width:576px){
    .container > h1 {
        font-size: 2rem;
    }
    .container  > h3{
        font-size: 1.4rem;
    }
}